.btn{
  position: relative;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 100;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.4);
  padding: 4px 20px;
  transition: background-color 250ms ease 0s, border 250ms ease 0s;

  &--big {
    font-size: 16px;
    font-weight: 400;
    padding: 15px;
  }
}
