.widget
{
  margin: 10px;
}

.widget__header
{
  position: relative;
  width: 100%;
  overflow: hidden
}

.no-padding--lr .widget__header
{ padding-left: 25px; padding-right: 25px }

.no-padding .widget__header
{ padding: 25px 25px 0 }

.widget__title
{
  float: left;
  padding-right: 10px;
  display: inline-block;
  background-color: rgba(0, 0, 0, .3);
  height: 45px;
  width: 100%;
  line-height: 45px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


.widget__form .widget__content,
.widget__login .widget__content
{ margin-top: 0; padding: 20px }

.widget__content {
  position: relative;
  margin-top: 1px;
}

.widget__content.filled {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px;
}

