@import "colors";

body {
  margin: 0;
  background-color: $bg-color;
  color: $text-color;
  font-family: sans-serif;
}

a{
  color: #fff;
  text-decoration: none;
}

.App {
  text-align: center;
}



.App-content{
  padding: 10px;

  height: 100vh;
}
